<%- include('../partials/header.ejs') %>


    <h1 class="fancyfont">
         <%= movies[0].viewer.username %>'s watchlist:
    </h1>

    <% if (movies.length) { %>
        <% movies.forEach((movie)=> { %>
            <p>
                <%= movie.movieTitle %> &nbsp;&nbsp; <%= movie.rating %>
            </p>
            <% })%>
                <% } else { %>
                    <p>no movies watched, yet.</p>
                    <% } %>


                        <%- include('../partials/footer.ejs') %>