<%- include('../partials/header.ejs') %>

<!-- SHOW  -->
<h1 class="fancyfont"><%= movie.movieTitle %></h1>
    <h3>my rating: <%= movie.rating %></h3>
        <ul>
            <% if (movie.dateWatched) { %>
                <li>date watched → <%= movie.dateWatched.toLocaleDateString() %></li>
            <% } %>
            <% if (movie.genre) { %>
                <li>genre → <%= movie.genre %></li>
            <% } %>
            <% if (movie.review) { %>
                <li>my review → <%= movie.review %></li>
            <% } %>
        </ul>

<div class="showpage">
    <!-- EDIT -->
        <a href="/movies/<%= movie._id %>/edit" class="fancyfont" id="edit">Edit Movie</a>
    <!-- DELETE -->
        <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
            <button class="fancyfont" id="deletebtn">delete movie.</button>
        </form>
</div>


<%- include('../partials/footer.ejs') %>

